@font-face {
    font-family: "Myriad";
    src: url(myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 85px;
    height: 85px;
    margin-top: 8px;
    margin-left: 50px;
}

.navlink {
    list-style-type: none;
}

.navlink li {
    display: inline;
    padding: 39px 50px;
    line-height: 100px;
}

.navlink li a {
    color: white;
    text-decoration: none;
}

.navlink li:hover {
    background: #ed1c24;
}

.navlink li a:hover{
    color: black;
}

.banner {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    font-family: Myriad;
    font-size: 18px;
}

.cta {
    padding: 15px 32px;
    font-family: Myriad;
    font-size: 30px;
}

.teksbrnd {
    background-color: black;
    color: white;
    width: 49%;
    height: 400px;
    text-align: right;
}

.banner2 {
    width: 650px;
    height: 400px;
    background-image: url(Rengginang.jpg);
    background-color: rgb(223, 223, 223);
    background-blend-mode: darken;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 100%;
    margin-left: 6px;
    
}

.beranda {
    position: relative;
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
    font-family: Myriad;
}

.logo2 {
    position: relative;
    width: 300px;
    height: 300px;
    top: 10%;
}

.cap {
    height: 90px;
    position: absolute;
    bottom: 2px;
    left: 3px;
}

.teksbrnd p {
    font-size: 30pt;
    padding-top: 8%;
    padding-right: 4%;
}