@font-face {
    font-family: "Myriad";
    src: url(myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.banner {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    font-family: Myriad;
    font-size: 18px;
}

.logo {
    height: 85px;
    width: 85px;
    margin-top: 8px;
    margin-left: 50px;
}

.navlink {
    list-style-type: none;
}

.navlink li {
    display: inline;
    padding: 39px 50px;
    line-height: 100px;
}

.navlink li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.navlink li:hover {
    background: #ed1c24;
}

.navlink li a:hover {
    color: black;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 31px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-family: Myriad;
    margin-top: 20px;
}

p {
    text-align: center;
    font-family: Myriad;
    margin-top: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: rgb(68, 66, 66);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=button]:hover {
    background-color: rgb(56, 52, 52);
}

.section1 {
    background-image: url(assets/51b1dd50-3101-495c-a38d-f0f1bb59e761_169.jpeg);
    background-color:rgb(41, 41, 41);
    background-blend-mode: soft-light;
}


.container {
    width: 80%;
    border-radius: 10px;
    background-color: #000000;
    padding: 20px;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 50%;
    margin-bottom: 100px;
    justify-content: space-between;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    color: white;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pesan {
    transform: translateX(319%);
    background-color: rgb(68, 66, 66);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    /* margin-left: 80px;
    margin-left: 550px; */
    float: none;
}

.pesan:hover {
    background-color: rgb(56, 52, 52);
}


@media (max-width: 802px) {
    .toggle-button {
        display: flex;
    }

    .navlink {
        display: none;
    }


    .banner {
        flex-direction: column;
        align-items: flex-start;
    }

    .navlink.active {
        display: inline;
    }

    .col-25, .col-75, input[type=button] {
        width: 100%;
        margin-top: 0;
      }

    .pesan {
        transform: translateX(182%);
    }
}


  
  
  